{% extends 'larrbase.html' %}
{% load static %}

{% block content %}
<div id="main">
    <h3>Archive</h3>
    <form action="/archive" method="get">
        <input type="text" name="search" id="comic-search" placeholder="Search comics"/>
    </form>
    <div id="comic-archive">
        {% for dict in object_list %}
            <h3 class="year-header">{{ dict.header }}</h3>
            {% for object in dict.objects %}
                <a href="{{ object.id }}">
                    <img src="{% static object.img %}" />
                </a>   
            {% endfor %}
        {% endfor %}
    </div>
    <hr/>
</div>

{% endblock %}