.gallery-container {
    width: 210px;
    margin: auto;
    display: block;
}

.gallery-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 5px;
    border-radius: 20px;
}

.gallery-img:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 1px 10px 10px rgb(102, 102, 102);
}

@media only screen and (min-width: 500px) {
    .gallery-container {
        width: 430px;
    }
}

@media only screen and (min-width: 800px) {
    .gallery-container {
        width: 650px;
    }
}