{% extends 'larrbase.html' %}
{% load static %}

{% block content %}
<div id="main" class="black-background">
    <img src="{% static 'img/sketchbook/2023-title.png' %}" class="sketchbook-title"/>
    <img src="{% static 'img/sketchbook/2022-title.png' %}" class="sketchbook-title"/>
    <img src="{% static 'img/sketchbook/2021-title.png' %}" class="sketchbook-title"/>
    <img src="{% static 'img/sketchbook/2020-title.png' %}" class="sketchbook-title"/>
    <img src="{% static 'img/sketchbook/2019-title.png' %}" class="sketchbook-title" />
    <img src="{% static 'img/sketchbook/2018-title.png' %}" class="sketchbook-title"/>
    <img src="{% static 'img/sketchbook/2018-title.png' %}" class="sketchbook-title"/>
    <img src="{% static 'img/sketchbook/2017-title.png' %}" class="sketchbook-title"/>
</div>

{% endblock %}