---
layout: larrbase
---

<head>
    <title>Larrikins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="icon" href="../assets/img/thing.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "../assets/js/script.js"></script> 
</head>

<header>
    <div id = "mobile_header">
        <img src = "../assets/img/hamburger_bar-3.png" id = "hamburger">
        <img src = "../assets/img/bannr_mob_W.png" id = "mob_banner_img">
    </div>
    <div class = "mobile_top_menu hidden">
        <a href="../"><strong>COMICS</strong></a>
        <a href="../archive"><strong>ARCHIVE</strong></a>
        <a href="../sketchbook"><strong>SKETCHBOOK</strong></a>
        <a href="../other"><strong>OTHER</strong></a>
        <a href="../about"><strong>ABOUT</strong></a>
    </div>    
</header>

{{ content }}