{% assign current_year = '2018-2021' %}
{% assign website_version = '4.1' %}
<html>
<head>
    <title>Larrikins</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="icon" href="../assets/img/thing.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src = "../assets/js/script.js"></script> 
</head>

<body>
    <header>
        <div id = "mobile_header">
            <img src = "../assets/img/hamburger_bar.png" id = "hamburger">
            <img src = "../assets/img/bannr_mob_W.png" id = "mob_banner_img">
        </div>
        <div class = "mobile_top_menu hidden">
            <a href="../"><strong>COMICS</strong></a>
            <a href="../archive"><strong>ARCHIVE</strong></a>
            <a href="../about"><strong>ABOUT</strong></a>
            <a href="../other"><strong>OTHER</strong></a>
            <a href="../contact"><strong>CONTACT</strong></a>
        </div>
        <div id = "desktop_header">
            <img src = "../assets/img/bannr_dsktp_W.png">
            <div class="top_menu">
                <a href="../"><strong>COMICS</strong></a>
                <a id = 'arc' href="../archive"><strong>ARCHIVE</strong></a>
                <a id = 'abt' href="../about"><strong>ABOUT</strong></a>
                <a id = 'oth' href="../other"><strong>OTHER</strong></a>
                <a id = 'con' href="../contact"><strong>CONTACT</strong></a>
            </div>
        </div>    
    </header>

    {{ content }}

    <footer>
        &copy Anton Huggard {{ current_year }} All rights reserved. <br> 
        Carthago Delenda Est <br> website version {{ website_version }}<br><br>
        <a id = 'rss_thing' href='../feed.xml'>RSS FEED</a>
    </footer>
</body>

</html>