{% assign current_year = '2017-2023' %}
{% assign website_version = '4.2.1' %}



{{ content }}


<!-- <form class="centre" id="email-form" method="POST" >
    <input type="email" placeholder="Type your email" />
    <button type="submit">SUBSCRIBE</button>
</form> -->

<footer>
    &copy Anton Huggard {{ current_year }} All rights reserved. <br> 
    Carthago Delenda Est <br> website version {{ website_version }}<br><br>
    <a id = 'rss_thing' href='https://forms.gle/JWWgnXJPyit5sAJE7'>SUBSCRIBE</a>
</footer>